<tr class="row bottom-margin--medium centering__box">
  <td class="col">
    <select class="base-input" id="validation-types" name="validation-types" type="text"
      [ngModel]="dependencyData.validationType" (ngModelChange)="dependencyValidationTypeChange($event)">
      <option *ngFor="let validation of validationTypes | keyvalue; let i = index" [value]="validation['key']">{{validation['key']}}
      </option>
    </select>
  </td>
  <td class="col stretched-el">
    <p class="centered-text">if</p>
  </td>
  <td class="col">
    <select class="base-input field__select centered-horizontal" id="field-dep-types" name="field-dep-types" type="text"
      [ngModel]="dependencyId" (ngModelChange)="dependencySelectionChange($event)">
      <option *ngIf="currentFlatFieldModel.length === 0" selected="true" disabled="disabled">Fields not found (self and parent excluded)</option>
      <option *ngFor="let field of currentFlatFieldModel; let i = index;" [value]="field.id">{{field.fieldType}} :
        {{field.id}}</option>
    </select>
  </td>
  <td class="col centering__box stretched-el">
    <label class="text-basic--color text--medium">Has value</label>
    <input type="checkbox" [ngModel]="dependencyData.isNotNegation" (ngModelChange)="negationChange($event)">
  </td>
  <td class="centering__box stretched-el">
    <app-popover [isEnabled]="true" [textValue]="dependencyData.getCurrentStatus()" [type]="getMessageType()">
      <div class="status__element" [ngClass]="dependencyData.isValid() ? 'confirmed__bg element-enter1' : 'error__bg element-enter2'">
      </div>
    </app-popover>
  </td>
  <td class="centering__box stretched-el">
    <button class="btn--caution btn--base" (click)="dependencyRemove()">x</button>
  </td>
</tr>
