@import "../../../../assets/styles/main";

.popover__box {
    position: absolute;
    transform: translate(50%, -50%);
    bottom: 90%;
    right: 50%;
    padding: 0 1rem;
    color: white;
    min-width: 70px;
    text-align: center;
}

%box:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: translateX(50%);
    right: 50%;
}

.popover__box--info {
    @extend .popover__box;
    background-color: $confirmed-color;
    &:after {
        @extend %box;
        border-top: 10px solid $confirmed-color;
    }
}

.popover__box--warning {
    @extend .popover__box;
    background-color: $caution-color;
    &:after {
        @extend %box;
        border-top: 10px solid $caution-color;
    }
}
