@import "variables";
@import "spaces";

.inline-label {
    @extend .text-basic--color, .text--medium;
    padding-left: $space-mini / 3;
}

.text--medium {
    font-size: 12px;
}

.text-basic--color {
    color: $text-color-base;
}

.checkbox__field {
    padding: $space-mini / 2;
}

.text--mg-a {
    margin: auto;
}

.base-input {
    border: none;
    border-bottom: 1px solid $secondary-color;
    padding: $space-mini ;
    background-color: white;
}

select {
    cursor: pointer;
}
