// --- SPACING ---
$space-mini: 6px;
$space-small: 10px;
$space-medium: 15px;


// --- COLORS ---
$caution-color: rgb(240, 93, 94);
$confirmed-color: rgb(11, 110, 79);
$unset-color: rgb(216, 208, 193);
$primary-color: rgb(34, 116, 165);
$secondary-color: rgb(193, 189, 179);
$text-color-base: rgb(50, 48, 49);